################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/net6-WebApi/.vs
/net6-WebApi/FullStack/bin
/net6-WebApi/FullStack/obj
/net6-WebApi/FullStack/appsettings.Development.json
